<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MosquittoIP" value="34.231.187.147"/>
    <add key="APIurl" value="http://mqttapi-dev.us-east-1.elasticbeanstalk.com//api/DeviceData/"/>
    <add key="DefaultTopic" value="MQTT/home"/>
  </appSettings>
</configuration>
