<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="MosquittoIP" value="34.231.187.147"/>-->
    <add key="MosquittoIP" value="192.168.1.49"/>
    <add key="APIurl" value="http://localhost:51412/api/DeviceData/"/>
    <add key="DefaultTopic" value="#"/>
  </appSettings>
</configuration>
