<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MosquittoIP" value="34.231.187.147"/>
    <add key ="DBusername" value="admin"/>
    <add key ="DBpassword" value="vmpassword"/>
    <add key="DBname" value ="mos-instance"/>
    <add key="DBhost" value="mos-instance.cffo0eijbrmb.us-east-1.rds.amazonaws.com"/>
    <add key="DBport" value="1433"/>
  </appSettings>
</configuration>
