@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
            padding: 50px;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }

       
            nav ul {
                list-style-type: none;
                padding: 0;
            }

                nav ul a {
                    text-decoration: none;
                }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container">

        <header>
            <h1>MQTT Dashboard</h1>
        </header>


        <article>
            <h1>It's Time To Automate</h1>
            <p>Use This Interface To View Device Data and Control Your Home System!.</p>
        </article>

     

    </div>

</body>
</html>


